
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.main-sign{
height: 143px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #000000;
text-shadow: black 1px 0px, black 1px 1px, black 0px 1px, black -1px 1px, black -1px 0px, black -1px -1px, black 0px -1px, black 1px -1px;

background: rgba(128, 128, 128, 0.26);
border: 10px solid rgba(128, 128, 128, 0.36);
height: 143px;
}
.left-sensors{
height: 851px;
background: rgba(128, 128, 128, 0.26);
border: 10px solid rgba(128, 128, 128, 0.36);
padding-top: 15px;
padding-bottom: 15px;

}
.sensor-selection{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #000000;
margin: 15px 0px 15px 0px;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
background-color: transparent;
border:0;
}
.main-window{
height: 472px;
background: rgba(128, 128, 128, 0.26);
border-width: 10px 10px 10px 20px;
border-style: solid;
border-color: rgba(128, 128, 128, 0.36);
}
.choise-data-window{
height: 50px;

background: rgba(128, 128, 128, 0.26);
border-width: 10px 10px 10px 20px;
border-style: solid;
border-color: rgba(128, 128, 128, 0.36);
}
.sensor{
  border: 2px solid #808080;
  border-radius: 10px;
  display:block;
  width: 205px !important;
  height: 80px;
  margin: 10px;
  --bs-gutter-y : 15px;
}
.close{
  background: #808080;
  border: 1px solid #808080;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position:relative;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  right: -100%;
  top:-80%;
  line-height: 10px;
  padding: 5px;
}
